
<div class="row">
	<main class="col-md-12">
		<h1> Welcome to my about Page </h1>
		<p>
			Information about myself.
		</p>
		<h2> About Me </h2>
		<p>
			I am a student enrolled in the BTT program. My student id is rmalla-thakuri.
	</main>
</div>