{{!-- {{#content "body"}} --}}
  <div class="row">
    <main class="col-md-12">
      <h1> Welcome to my website!</h1>
      <h4>I will be demonstrating HTML5 principles and techniques, Routing in
        Express"… and so on
      </h4>
      <br />
      <h2> About the website...</h2>
      <p>
        This site consists of 3 static views (Home, About, HTML Demo) as well as
        5 routes that supply data , including: All Students, Students by Course,
        A Single Student By Student Number, All Managers and All Courses.
      </p>
      <div>
        <a
          style="color: rgb(54, 36, 39) !important;"
          href="http://localhost:8080/"
        >Home</a><br />
        <a
          style="color: rgb(17, 26, 17) !important;"
          href="http://localhost:8080/about"
        >About</a><br />
        <a
          style="color: rgb(17, 26, 17) !important;"
          href="http://localhost:8080/htmlDemo"
        >Html Demo</a><br />
        <a
          style="color: rgb(17, 26, 17) !important;"
          href="http://localhost:8080/students"
        >All Students</a><br />
        <a
          style="color: rgb(17, 26, 17) !important;"
          href="http://localhost:8080/students/add"
        >Add New Student</a><br />
        <a
          style="color: rgb(17, 26, 17) !important;"
          href="http://localhost:8080/students?course=1"
        >Find Students By Course</a><br />
        <a
          style="color: rgb(17, 26, 17) !important;"
          href="http://localhost:8080/student/263"
        >Find Student By Student Number</a><br />
        <a
          style="color: rgb(17, 26, 17) !important;"
          href="http://localhost:8080/tas"
        >All Managers</a><br />
        <a
          style="color: rgb(17, 26, 17) !important"
          ;
          href="http://localhost:8080/courses"
        >All Courses</a><br />
      </div>
      <br />
      <h2>Introduction to HTML 5</h2>
      <p>
        This site utilizes HTML5, a markup language used for structuring and
        presenting content on the World Wide Web.
      </p>

    </main>
  </div>
{{!-- {{/content}} --}}