<div class="row">
    <main class="col-md-12">
        <h2>Tables</h2>
        <p>Table containing details
        <h2>Company Table</h2>
        <table style="width:100%">
            <tr>
                <th>Company</th>
                <th>Contact</th>
                <th>Country</th>
            </tr>
            <tr>
                <td>Systems</td>
                <td>romamalla60@gmail.com</td>
                <td>Nepal</td>
            </tr>
            <tr>
                <td>Popular Pipes</td>
                <td>max@gmail.com</td>
                <td>Pakistan</td>
            </tr>
        </table>
        <div class="spacer"></div>
        <h2>Student Table</h2>

        <table style="width:100%">
            <tr>
                <th>Student 1</th>
                <th>Student 2</th>
                <th>Student 3</th>
            </tr>
            <tr>
                <td>Roma</td>
                <td>Ram</td>
                <td>Hari</td>
            </tr>
            <tr>
                <td>12</td>
                <td>13</td>
                <td>14</td>
            </tr>
        </table><br />
        <h2>Lists</h2>
        <ol>
            <li>Coffee</li>
            <li>Tea</li>
            <ol>
                <li>Black</li>
                <li>Green</li>
            </ol>
            <li>Milk</li>
            <li>Mojito</li>
            <li>Water</li>
        </ol>
        <h1>Images</h1>
        <img src="http://images.squarespace-cdn.com/content/v1/5e114807f3ccf3541b3d490d/1610605074877-NGQBHSBFKR46Z22VVLMW/Cricket+2.jpeg"
            width="400" height="350">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSj2QQcC3LXB4yY2lvb8B3aJR7P3z-VuhKr_g&amp;usqp=CAU"
            width="400" height="350">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSycI9GfbFRfzTPLe1_-tjhvM4V4XaWBwczXQ&amp;usqp=CAU"
            width="400" height="350">

        <p>Images on the website</p>
        <h1>Audio</h1>
        <audio controls autoplay muted>
            <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3"
                type="audio/mp3">
            <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.ogg"
                type="audio/mpeg">
            Your browser does not support the audio element.

        </audio>
        <p>Audio files on the website</p>
        <h1>Videos</h1>
        <video width="300" height="240" controls>
            <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4"
                type="video/mp4">
            <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.ogg"
                type="video/ogg">
            Your browser does not support the video tag.

        </video>
        <p>Video files on the website</p>

    </main>
</div>